@charset "utf-8";
/* CSS Document */
@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poopins', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #081B29;
}
.wrapper{
	position: relative;
	width: 750px;
	height: 450px;
	background: transparent;
	border: 2px solid #00EEFF;
	box-shadow: 0 0 25px #0ef;
	overflow: hidden;

}
.wrapper .from-box{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wrapper .from-box.login{
	left: 0;
	padding: 0 60px 0 40px;
	align-items:center;
	
}
.wrapper .from-box.login .animation{
	transform: translateX(0);
	opacity: 1;
	filter: blur(0px);
	transition: .7s ease;
	transition-delay:  calc(.1s * var(--j));
}
.wrapper.active .from-box.login .animation{
	transform: translateX(-160%);
	opacity: 0;
	filter: blur(10px);
	transition-delay:  calc(.1s * var(--i));
}
.wrapper .from-box.register{
	right:0;
	padding: 0 40px 0 60px;
	align-items: center; 
}
.wrapper .from-box.register .animation{
	transform: translateX(160%);
	opacity: 0;
	filter: blur(10px);
	transition: .7s ease;
	
}
.wrapper.active .from-box.register .animation{
	transform: translateX(0);
	opacity: 1;
	filter: blur(0);
	transition-delay: calc(.1s * var(--i));
}
.from-box h2{
	font-size: 32px;
	color: #FFFFFF;
	text-align: center;
}
.from-box .input-box{
	position: relative;
	width: 100%;
	height: 30px;
	background: seagreen;
	margin: 25px 0;

}
.input-box input{
	width: 100%;
	height: 100%;
	background:#081B29;
	border: none;
	outline: none;
	border-bottom: 2px solid #FFFFFF;
	padding-right: 23px;
	color: #FFFFFF;
	font-weight: 500;
	transition: .5s;
	
}
.input-box input:focus,
.input-box input:valid{
	border-bottom-color: #00EEFF;
}
.input-box label{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 16px;
	color: #FFFFFF;
	pointer-events: none;
	transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
	top: -5px;
	color: #00EEFF;
}
.input-box i{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 18px;
	color: #FFFFFF;
}
.input-box input:focus i,
.input-box input:valid i{
	color: #00EEFF;
}
.btn{
	position:relative;
	width: 100%;
	height: 45px;
	background:transparent;
	border: 2px solid #00EEFF;
	outline: none;
	background: linear-gradient(#0ef,#081b28);
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 600;
	z-index: 1;
	overflow:hidden;
}
.btn::before{
	content: '';
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
    background: linear-gradient(#081b28,#0ef);
	z-index: -1;
	transition: .5s;
}
.btn:hover::before{
	top: 0;
}
.from-box .logreg-link{
	font-size: 14.5px;
	color: #FFFFFF;
	text-align: center;
	margin: 20px 0 10px;
}
.logreg-link p a{
	color:#00EEFF;
	text-decoration: none;
	font-weight: 600;
}
.logreg-link p a:hover{
	text-decoration: underline;
}
.wrapper .info-text{
	position: absolute;
	top: -1px;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 350px;
}
.wrapper .info-text.login{
	right: 0;
	text-align: right;
	padding: 0 40px 60px 150px;
	
}
.wrapper  .info-text.login .animation{
	transform: translateX(0);
	opacity: 1;
	filter: blur(0px);
	transition: .7s ease;
	transition-delay:  calc(.1s * var(--j));
}
.wrapper.active .info-text.login .animation{
	transform: translateX(160%);
	opacity: 0;
	filter: blur(10px);
	transition-delay:  calc(.1s * var(--i));
}
.wrapper .info-text.register{
	left: 0;
	text-align: left;
	padding: 0 150px 60px 40px;
	pointer-events: none;
	
}
.wrapper .info-text.register .animation{
	transform: translateX(-160%);
	opacity: 0;
	filter: blur(10px);
	transition: .7s ease;
	transition-delay:  calc(.1s * var(--j));
	
}
.wrapper.active .info-text.register .animation{
	transform: translateX(0);
	opacity: 1;
	filter: blur(0);
	transition: .7s ease;
	transition-delay:  calc(.1s * var(--i));
}
.info-text  h2{
	font-size: 36px;
	color: #FFFFFF;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: right;
}
.info-text p{
	font-size: 16px;
	color: #FFFFFF;
	text-align:right;

}
.wrapper .bg-animate{
	position: absolute;
	top: -4px;
	right: -30px;
	width: 850px;
	height: 600px;
	background: linear-gradient(45deg,#081b29,#0ef);
	border-bottom: 3px solid #0ef;
	transform: rotate(11deg) skewY(41deg);
	transform-origin: bottom right;
	transition: 1.5s ease;
	transition-delay: 1.6s;
}
.wrapper.active .bg-animate{
	transform: rotate(0) skewY(0);
	transition-delay: .5s;
}
.wrapper .bg-animate2{
	position: absolute;
	top: 100%;
	left: 250px;
	width: 850px;
	height:700px;
	background:#081b29;
	border-bottom: 3px solid #0ef;
	transform: rotate(0) skewY(0);
	transform-origin: bottom left;
	transition: 1.5s ease;
	transition-delay: .5s;
}
.wrapper.active .bg-animate2{
	transform: rotate(-11deg) skewY(-41deg);
	transition-delay: 1.2s;
}

